body {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

.all {
    padding: 40px;
}

img {
    height: 200px;
    width: 150px;
}

#content {
    padding: 0 0 0 30px;
    margin: -10px 0 0 0;

}

h3 {
    font-weight: bold;
    margin-top: 0;
    letter-spacing: 0.3px;
}

.all:hover h3{
    color: rgb(105, 105, 255);
}

.all:hover{
    cursor: pointer;
}


.rating {
    height: 22px;
    width: 50px;
    background-color: green;
    color: white;
    border-radius: 5px;
    text-align: center;


}

.num-rat {
    font-size: 12px;
}

i {
    font-size: 10px;
    margin-left: 3px;
}

.table1 {
    margin: -15px 0 0 -4px;
}

.row2 {
    padding: 0 0 5px 0;
}


.num-rev {
    font-size: 13px;
    margin-left: 5px;
    color: grey;
    font-weight: bold;
}

ul {
    margin: 10px 0 0 -25px;
}


li {
    margin: 5px 0 5px 0;
    font-weight: 500;
    font-size: 14px;
    width: 400px;
    letter-spacing: 0.3px;
}

#price {
    padding-left: 40px;
    padding-top: 0;
    /* vertical-align: text-top; */
}

h2 {
    /* margin-top: -40%; */
    font-weight: bold;
}

.del {
    color: grey;
}

.price1{
    margin-top: -83px;
}



.price2 {
    color: green;
    font-size: 13px;
    letter-spacing: 0.5px;

}

.price3{
    font-size: 13px;
    letter-spacing: 0.5px;
}

.price4{
    font-size: 12px;
    color: green;
    font-weight: bolder;
    letter-spacing: 0.5px;

}

.price5{
    font-size: 13px;
    font-weight: lighter;
    letter-spacing: 0.5px;

}

#logo{
    vertical-align: text-top;
}

.logo{
    width: 80px;
    height: 20px;
    margin-left: -50px;
    
}
